EMS/Service References/wsGhreeLicense/wsghreelicense.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wsGhreeLicense.condesus.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wsGhreeLicense.condesus.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wsGhreeLicense.condesus.com.ar/">
      <s:element name="ImplementationIsEnable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urlRequest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImplementationIsEnableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImplementationIsEnableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImplementationIsEnableSoapIn">
    <wsdl:part name="parameters" element="tns:ImplementationIsEnable" />
  </wsdl:message>
  <wsdl:message name="ImplementationIsEnableSoapOut">
    <wsdl:part name="parameters" element="tns:ImplementationIsEnableResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGhreeLicenseSoap">
    <wsdl:operation name="ImplementationIsEnable">
      <wsdl:input message="tns:ImplementationIsEnableSoapIn" />
      <wsdl:output message="tns:ImplementationIsEnableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGhreeLicenseSoap" type="tns:wsGhreeLicenseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImplementationIsEnable">
      <soap:operation soapAction="http://wsGhreeLicense.condesus.com.ar/ImplementationIsEnable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGhreeLicenseSoap12" type="tns:wsGhreeLicenseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImplementationIsEnable">
      <soap12:operation soapAction="http://wsGhreeLicense.condesus.com.ar/ImplementationIsEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGhreeLicense">
    <wsdl:port name="wsGhreeLicenseSoap" binding="tns:wsGhreeLicenseSoap">
      <soap:address location="http://wsghreelicense.condesus.com.ar/wsghreelicense.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGhreeLicenseSoap12" binding="tns:wsGhreeLicenseSoap12">
      <soap12:address location="http://wsghreelicense.condesus.com.ar/wsghreelicense.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>